<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Picoyplaca/styles/styles.css">
    <title>Pico y placa predictor</title>
</head>

<body>
    <header>Pico y placa predictor</header>
    <main>
        <div>
            <form>
                <label for="plate">Please input your plate:</label><br>
                <input type="text" id="plate" name="plate" placeholder="ABC-1234"><br>
                <label for="date">Please input the date:</label><br>
                <input type="date" id="date" name="date"><br>
                <label for="time">Please input the time:</label><br>
                <input type="time" id="time" name="time" format="24"><br>
            </form>
        </div>
    </main>

</body>

</html>