<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Picoyplaca/styles/styles.css">
    <title>Pico y placa predictor</title>
</head>

<body>
    <header>Pico y placa predictor</header>
    <main>
        <div>
        <form>
            <label for="plate">Please input your plate:</label><br>
            <input type="text" id="plate" name="plate" placeholder="ABC1234"><br>
        </form>
        </div>
    </main>

</body>

</html>